<div class="container mb-3">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/pp.jpg"
        class="img-thumbnail rounded-circle"
        alt="Fozimat"
      />
      <h1 class="display-4">Fozimat Amhas</h1>
      <p class="lead">Web Programmer</p>
    </div>
  </div>
</div>
